<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

<bean class="com.kodewala.bean.Test" id="test">
<property name="marks" value="97"></property>
<property name="status" value="passed"></property>
</bean>

</beans>